# (실습) 판다스 데이터프레임

**필수 라이브러리**

In [14]:
import numpy as np
import pandas as pd

**문제 1**

아래 리스트를 이용하여 시리즈를 생성하여라.

In [15]:
aList = [1, 3, 5, np.nan, 6, 8]

In [3]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하여라.

None

**문제 2**

(1) 아래 사전을 이용하여 데이터프레임을 생성하여 `df1` 변수에 할당하여라.

In [6]:
abcd_dict = {"A": 1.0,
             "B": pd.Series(1, index=list(range(4)), dtype="float32"),
             "C": np.array([3] * 4, dtype="int32"),
             "D": ["test", "train", "test", "train"]}

In [7]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하여라.

df1 = None
df1

(2) `df1`이 가리키는 데이터프레임의 열별 자료형을 확인하여라.

In [8]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하여라.

None

**문제 3**

`pd.date_range()` 함수는 시간으로 구성된 인덱스 자료형을 생성한다.
함수 호출에 사용된 키워드 인자의 의미는 다음과 같다.

- `start="20130101`: 2013년 1월 1일부터 시작
- `periods=6`: 첫째 인자로 지정된 시간부터 6 개의 시간 데이터 샘플 생성
- `freq="D"`: 시간 데이터 샘플을 일(day) 단위로 생성

In [16]:
dates = pd.date_range(start="20130101", periods=6, freq="D")
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

`dates`를 행 인덱스로, `['A', 'B', 'C', 'D']`를 열 인덱스로 사용하는(6, 4) 모양의 데이터프레임을 생성하여 `df` 변수에 할당하여라.
단, 항목은 `np.random.randn(6, 4)`를 이용하여 생성한다.

In [5]:
np.random.seed(0)

# pass와 None을 각각 적절한 명령문과 표현식으로 대체하여라.

df = None

**문제 4**

(1) `df`가 가리키는 데이터프레임의 처음 5행을 확인하여라.

In [9]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하여라.

None

(2) `df`가 가리키는 데이터프레임의 마지막 5행을 확인하여라.

In [10]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하여라.

None

**문제 5**

(1) `df`가 가리키는 데이터프레임의 행 라벨을 확인하여라.

In [11]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하여라.

None

(2) `df`가 가리키는 데이터프레임의 열 라벨을 확인하여라.

In [12]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하여라.

None

**문제 6**

(1) `df`가 가리키는 데이터프레임을 넘파이 어레이로 변환하여라.

In [13]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하여라.

None

(1) `df1`이 가리키는 데이터프레임을 넘파이 어레이로 변환하여라.

In [14]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하여라.

None

**문제 7**

`df`가 가리키는 데이터프레임에 속한 수치형 데이터의 분포를 확인하여라.

힌트: `desecribe()` 메서드

In [15]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하여라.

None

**문제 8**

아래 링크에 있는 `score.txt` 파일에는 
100명의 학생들의 국어, 영어, 수학, 사회, 과학 점수가 들어 있다.

In [2]:
score_url = "https://raw.githubusercontent.com/codingalzi/datapy/master/practices/data/score.txt"

(1) 위 링크의 파일 내용을 담은 데이터프레임을 가리키는 변수 `df_score`를 선언하여라.

힌트: 판다스의 `read_csv()` 함수 활용

In [9]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하여라.

df_score = None

(2) 열 라벨을 확인하는 한 줄 표현식을 작성하여라.

In [ ]:
# 한 줄 표현식을 작성하여라.

(3) 열 라벨에 포함된 샵 기호와 공백을 제거하여라. 

힌트: `Index` 객체의 문자열 메서드 활용

In [10]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하여라.

pass

**문제 9**

먼저 하나의 새로운 시리즈를 생성한다.

In [11]:
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])
s

a    0.461123
b    0.317346
c   -0.026032
d   -0.208278
e    0.451474
dtype: float64

아래 코드의 실행 결과를 설명하여라.

In [12]:
s.reindex(["e", "b", "f", "d"])

e    0.451474
b    0.317346
f         NaN
d   -0.208278
dtype: float64

*설명*

**문제 10**

`df` 데이터프레임을 계속 이용한다.

In [ ]:
df

행 인덱스는 `dates`가 가리키고 있다.

In [17]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

(1) 행과 열의 인덱스를 다음으로 지정된 새로운 데이터프레임을 생성하여라.

- `index=[dates[1], dates[3], dates[0]]`
- `columns=["C", "B", "A"])`

In [18]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하여라.

None

(2) 행의 인덱스를 다음으로 지정된 새로운 데이터프레임을 생성하여라.

    [dates[1], dates[3], dates[0]]

In [18]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하여라.

None

(3) 열의 인덱스를 다음으로 지정된 새로운 데이터프레임을 생성하여라.

    ["C", "B", "A"]

In [18]:
# pass와 None을 각각 적절한 명령문과 표현식으로 대체하여라.

None