# (실습) 데이터프레임 인덱싱

**필수 라이브러리**

In [ ]:
import numpy as np
import pandas as pd

**문제 1**

(1) 아래의 딕셔너리 `data`를 이용하여 데이터프레임`df1`를 생성하여라.

In [ ]:
data = {'A' : [0, 5, 15, 20, 25, 30, 35, 40],
        'B' : [1, 2, 3, 4, 5, 6, 7, 8]}

In [ ]:
# 코드를 작성하여라.

df1 = None

(2) 다음 두 리스트를 이용하여 `C`와 `D`열을 `df1`에 추가하여라.

In [ ]:
C = [3, 3, 3, 3, 3, 3, 3, 3]
D = [4, 2, 9, 1, 20, 3, 15, 17]

In [ ]:
# 코드를 작성하여라.

(3) `A`, `B`, `D`열에서 행 인덱스가 2, 3, 4인 자료를 추출하는 한줄 표현식을 작성하여라.

In [ ]:
# 코드를 작성하여라.

(4) `df1`에 `K`열을 추가하여라. 이때, `K`열의 각 항목은 `B`열의 각 항목 곱하기 3이다.

In [ ]:
# 코드를 작성하여라.

(5) `df1`에 `R`열을 추가하여라.
이때, `R`열의 각 항목은 균등분포에 따라 `[0, 1)` 구간에서 선택된 임의의 수로 구성된다.

힌트: `numpy.random.rand()`

In [ ]:
# 코드를 작성하여라.

(6) `df1`에서 `C`열에 인덱스가 1, 3, 5인 자료의 값을 6으로 변경하여라.

In [ ]:
# 코드를 작성하여라.

In [ ]:
df1.loc[[1, 3, 5], 'C'] = 6

df1

    A  B  C   D   K         R
0   0  1  3   4   3  0.266891
1   5  2  6   2   6  0.152845
2  15  3  3   9   9  0.989870
3  20  4  6   1  12  0.776727
4  25  5  3  20  15  0.042458
5  30  6  6   3  18  0.193763
6  35  7  3  15  21  0.911126
7  40  8  3  17  24  0.046128

**문제 2**

아래 데이터프레임을 생성하기 위해 `pd.date_range()` 함수는 시간으로 구성된 인덱스 자료형을 생성한다.
함수 호출에 사용된 키워드 인자의 의미는 다음과 같다.

- `start="20130101`: 2013년 1월 1일부터 시작
- `periods=6`: 첫째 인자로 지정된 시간부터 6 개의 시간 데이터 샘플 생성
- `freq="D"`: 시간 데이터 샘플을 일(day) 단위로 생성

In [ ]:
dates = pd.date_range(start="20130101", periods=6, freq="D")
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
np.random.seed(0)

df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01  1.764052  0.400157  0.978738  2.240893
2013-01-02  1.867558 -0.977278  0.950088 -0.151357
2013-01-03 -0.103219  0.410599  0.144044  1.454274
2013-01-04  0.761038  0.121675  0.443863  0.333674
2013-01-05  1.494079 -0.205158  0.313068 -0.854096
2013-01-06 -2.552990  0.653619  0.864436 -0.742165

(1) `'A'` 열만을 추출하여 시리즈를 생성하여라.

In [ ]:
# 한 줄 표현식을 작성하여라.

(2) 0번 행부터 2번 행까지만 포함하는 데이터프레임을 생성하여라.

In [ ]:
# 한 줄 표현식을 작성하여라.

(3) `df`의 인덱스는 `dates` 변수가 가리키는 날짜 인덱스를 사용한다.

In [ ]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

첫째 날짜, 즉 2013년 1월 1일의 데이터를 확인하는 한 줄 표현식을 작성하여라.
단 `loc[]` 객체와 `dates` 변수를 이용해야 한다.

In [ ]:
# 한 줄 표현식을 작성하여라.

(4) `'A'`와 `'B'` 두 열만 추출하는 한 줄 표현식을 작성하여라.
단 `loc[]` 객체를 이용해야 한다.

In [ ]:
# 한 줄 표현식을 작성하여라.

(5) 2013년 1월 2일부터 1월 4일까지를 대상으로 `A`, `B` 두 열만 추출하는 한 줄 표현식을 작성하여라.
단 `loc[]` 객체를 이용해야 한다.

In [ ]:
# 한 줄 표현식을 작성하여라.

(6) 2013년 1월 2일의 `A`, `B` 두 열만 추출하는 한 줄 표현식을 작성하여라.
단 `loc[]` 객체를 이용해야 한다.

In [ ]:
# 한 줄 표현식을 작성하여라.

(7) 2013년 1월 1일의 `A` 열만 추출하는 한 줄 표현식을 작성하여라.
단 `loc[]` 객체를 이용해야 한다.

In [ ]:
# 한 줄 표현식을 작성하여라.

(8) 3번 행만 추출하는 한 줄 표현식을 작성하여라.
단 `iloc[]` 객체를 이용해야 한다.

In [ ]:
# 한 줄 표현식을 작성하여라.

(9) 3번부터 4번행을 대상으로 0번, 1변 열만 추출하는 한 줄 표현식을 작성하여라.
단 `iloc[]` 객체를 이용해야 한다.

In [ ]:
# 한 줄 표현식을 작성하여라.

(10) 아래 두 리스트에 포함된 행과 열만 추출하는 한 줄 표현식을 작성하여라.
단 `iloc[]` 객체와 팬시 인덱싱을 활용한다.

- 행: `[1, 2, 4]`
- 열: `[0, 2, 3, 1]`

In [ ]:
# 한 줄 표현식을 작성하여라.

(11) 홀수 행만 추출하는 한 줄 표현식을 작성하여라.
단 `iloc[]` 객체를 이용해야 한다.

In [ ]:
# 한 줄 표현식을 작성하여라.

(12) 1번, 2번 열만 추출하는 한 줄 표현식을 작성하여라.
단 `iloc[]` 객체를 이용해야 한다.

In [ ]:
# 한 줄 표현식을 작성하여라.

(13) `A` 열의 항목이 양수인 행만 추출하여라.
단, 단 `loc[]` 객체와 부울 마스크를 이용한다.

In [ ]:
# 한 줄 표현식을 작성하여라.

(14) 양수 항목만 그대로 두고 나머지는 모두 결측치로 처리된 데이터프렘임을
가리키는 변수 `df_positive`를 선언하여라.

힌트: 부울 마스크를 이용한다.

In [ ]:
# 코드를 작성하여라.

(15) `df_positive` 변수가 가리키는 데이터프렘에서 결측치가 하나라도 있는 열을 모두 삭제하여라

In [ ]:
# 한 줄 표현식을 작성하여라.

**문제 3**

아래 링크에 있는 `score.txt` 파일에는
100명의 학생들의 국어, 영어, 수학, 사회, 과학 점수가 들어 있다.      
이 자료를 담은 데이터프레임 `df_score`를 다음과 같이 만든다.

In [ ]:
score_url = "https://raw.githubusercontent.com/codingalzi/datapy/master/practices/data/score.txt"

In [ ]:
df_score = pd.read_csv(score_url, sep=',', header=0)
df_score

    # 국어   영어   수학   사회   과학
0     15   16   21    0   14
1     96   91   14   11   75
2     49   63   15   18   61
3     54    4   20   21    1
4     46    8    7   23    9
..   ...  ...  ...  ...  ...
95    69   61   11   28   97
96    41   97   16   13    8
97     0   84   18    9   15
98    19   11   15    2   90
99     0    7   33    7   58

[100 rows x 5 columns]

열 인덱스 라벨에 공백, `#` 기호 등이 포함되어 있기에 제거한다.

In [ ]:
df_score.columns

Index(['# 국어', ' 영어', ' 수학', ' 사회', ' 과학'], dtype='object')

In [ ]:
columns_stipped = df_score.columns.str.strip("# ")
columns_stipped

Index(['국어', '영어', '수학', '사회', '과학'], dtype='object')

In [ ]:
df_score.columns = columns_stipped
df_score

    국어  영어  수학  사회  과학
0   15  16  21   0  14
1   96  91  14  11  75
2   49  63  15  18  61
3   54   4  20  21   1
4   46   8   7  23   9
..  ..  ..  ..  ..  ..
95  69  61  11  28  97
96  41  97  16  13   8
97   0  84  18   9  15
98  19  11  15   2  90
99   0   7  33   7  58

[100 rows x 5 columns]

(1) `df_score`의 처음부터 5개의 행을 확인하는 한 줄 표현식을 작성하여라.

In [ ]:
# 한 줄 표현식을 작성하여라.

(2) `df_score`의 마지막 10개의 행을 확인하는 한 줄 표현식을 작성하여라.

In [ ]:
# 한 줄 표현식을 작성하여라.

(3) 국어 점수가 90점이상인 학생들의 데이터만 추출하는 한 줄 표현식을 작성하여라.

In [ ]:
# 한 줄 표현식을 작성하여라.

(4) 각 과목에서 10점이하의 값들은 `np.nan`으로 변경하는 한 줄 표현식을 작성하여라.

In [ ]:
# 한 줄 표현식을 작성하여라.

(5) 각 열에 있는 결측치의 개수는 몇 개인지 확인하는 한 줄 표현식을 작성하여라.

In [ ]:
# 한 줄 표현식을 작성하여라.

(6) 결측치의 비율이 20% 이하인 열(column)들만 담은 데이터프레을 가리키는`df_score_20` 변수를 선언하여라.

In [ ]:
# 코드를 작성하여라.

(7) `df_score_20` 변수가 가리키는 데이터프레임의 결측치를 모두 10으로 채워는 한 줄 표현식을 작성하여라.

In [ ]:
# 한 줄 표현식을 작성하여라.